<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DesctopHITE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <connectionStrings>
    <add name="DesctopHiteEntities" connectionString="metadata=res://*/AppDateFolder.ModelFolder.DesctopHiteModel.csdl|res://*/AppDateFolder.ModelFolder.DesctopHiteModel.ssdl|res://*/AppDateFolder.ModelFolder.DesctopHiteModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MARIXYANA-LAPTO\SQL;initial catalog=DesctopHite;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <DesctopHITE.Properties.Settings>
      <setting name="LoginUserRemember" serializeAs="String">
        <value />
      </setting>
      <setting name="PasswordUserRemember" serializeAs="String">
        <value />
      </setting>
      <setting name="MeaningRemember" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SNMUpdateScan" serializeAs="String">
        <value />
      </setting>
      <setting name="DateTimeUpdateScan" serializeAs="String">
        <value />
      </setting>
      <setting name="ResultUpdateScan" serializeAs="String">
        <value />
      </setting>
      <setting name="SNMScan" serializeAs="String">
        <value />
      </setting>
      <setting name="DateTimeScan" serializeAs="String">
        <value />
      </setting>
      <setting name="DurationScan" serializeAs="String">
        <value />
      </setting>
      <setting name="VersionUpdateScan" serializeAs="String">
        <value />
      </setting>
    </DesctopHITE.Properties.Settings>
  </userSettings>
</configuration>